html {
    scroll-behavior: smooth;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.header {
    
    background-color: blue;
}

#links {
    display: flex;
    justify-content: flex-end;
}
#social {
    text-decoration: none;
    transition: 2s text-transform;
}
a:hover {
    opacity: 60%;
    transform: translateY(0) scale(1.2);
}

#webpage-content {
    writing-mode: vertical-lr;
    position: fixed;
    right: 0;
    top: 2rem;
}

#p {
    position: relative;
    top: 0%;
}
#input {
    display: flex;
    flex-direction: row-reverse;
    border-top: white;
    border-right: white;
    border-left: white;
    width: 15%;
    margin: 1rem;
    color: #007bff;
}
#input:focus {
    border-top: white;
    border-right: white;
    border-left: white;
    outline: none;
    margin: 1rem;
    padding: 1rem;
    color: #007bff;
}

#submit {
    border-style: none;
    height: 3rem;
    margin-top: 0.70rem;
}

.container {
    height: 50rem;
    display: flex;
}

iframe {
    background-color: blue;
    box-shadow: 10px 20px 5px gray;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: ease 0.75s;
}
iframe:hover {
    opacity: 0.7;
}


.slide {
    position: relative;
    transform: translateX(-50rem);
    opacity: 0 !important; 
    transition: all 2s ease;
}
.sliding{
    transform: translateX(0);
    opacity: 1 !important;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.transition2{
    transform: translateX(40rem);
    opacity: 0%;
    transition: 2s ease-in-out;
    transition-delay: 0.5s;
}
.transition2-active {
    transform: translateX(0);
    opacity: 0.15;
}
.titles {
    opacity: 0;
    transform: translateX(-25rem);
    transition: 2s ease;
}
.transition3 {
    opacity: 0.15;
    transform: translateX(0);
}
img {
    border-radius: 50%;
}