* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.header {
    
    background-color: blue;
}

#links {
    display: flex;
    justify-content: flex-end;
}
#social {
    text-decoration: none;
    transition: 2s text-transform;
}
a:hover {
    opacity: 60%;
    transform: translateY(0) scale(1.2);
}

#webpage-content {
    writing-mode: vertical-lr;
    position: fixed;
    right: 0;
    top: 2rem;
}

#p {
    position: relative;
    top: 0%;
}
#input {
    display: flex;
    flex-direction: row-reverse;
    border-top: white;
    border-right: white;
    border-left: white;
    width: 15%;
    margin: 1rem;
    color: #007bff;
}
#input:focus {
    border-top: white;
    border-right: white;
    border-left: white;
    outline: none;
    margin: 1rem;
    padding: 1rem;
    color: #007bff;
}

#submit {
    border-style: none;
    height: 3rem;
    margin-top: 0.70rem;
}

