* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.header {
    
    background-color: blue;
}

#links {
    display: flex;
    justify-content: flex-end;
}
#social {
    text-decoration: none;
    transition: 2s text-transform;
}
a:hover {
    opacity: 60%;
    transform: translateY(0) scale(1.2);
}

#webpage-content {
    writing-mode: vertical-lr;
    position: fixed;
    right: 0;
    top: 2rem;
}

#p {
    position: relative;
    top: 0%;
}
#input {
    display: flex;
    flex-direction: row-reverse;
    border-style: none;
    margin: 1rem;
}
#input:focus {
    border-color: white;
    outline: none;
}

#submit {
    border-style: none;
}
